.profile-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    margin: auto 20px;
    background-color: #d5d8eb;
}

#self-img, #name{
    vertical-align: middle;
}

#name {
    background-color: rgb(255, 46, 46);
    background-image: linear-gradient(to top, #0019fc, #00a2ff);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
}

#self-img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 0;
    border: 2px solid #00f; /* base border */
    box-shadow: 0 0 10px #00f; 
    color: #000000;
}

button {
    background-color: #4233c4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

body {
    color: #333333;
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("images/trybg.png") no-repeat center center;
    background-size: cover;
    filter: blur(20px); 
    z-index: -1; 
}

#main-content{
    padding: 20px;
    margin: auto 20px;
}

#cert-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: auto 20px;
}

.cert-container ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.cert-container li {
    display: flex;          /* stack text and image neatly */
    flex-direction: column-reverse; /* text above, image below */
    align-items: center;    /* center content horizontally */
}

.cert-container .cert{
    max-width: 250px;
    height: auto;
    margin-top: 10px auto;
}

.projects-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.projects-container ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.projects-container li {
    display: flex;          /* stack text and image neatly */
    flex-direction: column-reverse; /* text above, image below */
    align-items: center;    /* center content horizontally */
}

body.dark {
	background-color: #121212;
	color: #f5f5f5;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark .profile-container{
    background-color: #202020;
}


body.dark #name{
    background-image: linear-gradient(to top,#d3b50e, #e3fc00);
}

body.dark #self-img{
    border: 2px solid #e3fc00; /* base border */
    box-shadow: 0 0 10px #f0cf18; 
}

body.dark button {
    background-color: #f0cf18;
    color: #121212;
}

body.dark::before {
    background: url("images/darkBG.png") no-repeat center center;
}
